nav {
	background-color: #33d3f0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-bottom: #d3d3d3 1px solid;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
nav a {
	all: unset;
	padding: 10px;
	cursor: pointer;
}
nav a:hover {
	color: blue;
	background-color: rgba(0, 0, 255, 0.39);
	border-radius: 10%;
}
#button-part {
	margin-bottom: 10px;
}
body {
	background-color: lightblue;
    color: black;
    padding-top: 70px;
}
